.input {
    $root: &;
    box-sizing: border-box;
    flex: none;
    order: 1;
    flex-grow: 0;

    &_primary {
        display: flex;
        align-items: center;
        padding: 14px;
        background: $color__dark--2;
        border: 1px solid $color__dark--3;
    }
    &-icon{
        position: absolute;
        top: 12px;
        left: 14px;
    }

    &_md {
        border-radius: 8px;
        height: 46px;
    }
}


.field-icon-left{
    .input{
        &_primary {
            padding-left: 42px !important;
        }
    }
}
