$color__light: #ffffff;

$color__light--1 : #ABBBC2;

$color__dark--1: #252836;
$color__dark--2: #2D303E;
$color__dark--3: #393C49;
$color__dark--4: #1F1D2B;

$color__primary--1: #EA7C69;

$font-family_main: 'Barlow';
